* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
}

/*  */

#primeiraNav-div {
    background-color: #B57854;
    width: 100%;
    height: 80px;
}

#lista-primeiraNav{
    display: flex;
    justify-content:space-around;
    list-style: none;
    height: 80px;
    align-items: center;
}

#lista-primeiraNav li input {
    height: 35px;
    width: 320px;
    text-align: center;
    border: 2px solid #b87f65;
}

#lista-primeiraNav li input::placeholder {
    text-align: center;
}

#logo {
    width: 230px;
}

.icone {
    cursor: pointer;
}

#avatar {
    width: 100px;
    margin-top: 5px;
}

#cesta {
    width: 100px;
    margin-top: 5px;
}

#baner {
    width: 100%;
    height: 105vh;
}

#fotoBaner {
    width: 100%;
    height: 100%;
}

/*  */

#container-nav2 {
    background-color: #eec5ce;
    width: 100%;
    height: 80px;
    box-shadow: 5px 0px 10px black;
}

#lista-nav2 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 80px;
}

#lista-nav2 li {
    display: flex;
    height: 80px;
    font-size: 1.35rem;
}

.link-nav2 {
    display: flex;
    align-items:center;
    text-decoration: none;
    padding: 15px 60px 15px 60px;
    color: black;
}

.link-nav2:hover {
    transition: 800ms;
    color: #ffff;
    background-color: #B57854;
    font-size: 1.45rem;
}

/*  */

#container2 {
    background-color: #eec5ce;
}

#sobreNos-div {
    background-color: #eec5ce;
    display: flex;
    margin: 100px 40px 80px 40px;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    padding: 20px 35px 25px 35px;
}

#textoSobreNos {
    width: 60%;
    color: #ffff;
}

#texto {
    margin-top: 10px;
    font-size: 1.3rem;
}

#tituloSobreNos {
    font-size: 2rem;
    margin-left: 10px;
}

#fotoSobreNos {
    width: 300px;
}

#servicos-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos-titulo {
    color: #ffff;
    font-size: 1.6rem;
}

#servicos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.servico {
    text-align: center;
    border: 5px groove #44d1e4;
    padding: 30px 30px 20px 30px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

.servico:hover{
    color: #44d1e4;
    transition: 400ms;
    opacity: 0.7;
}

.servico:not(:last-child) {
    margin-right: 50px;
}

.servico img {
    width: 300px;
    border-radius: 10px;
}

.servico p {
    margin-top: 20px;
    font-size: 1.6rem;
}

/*  */

#div-explicacao {
    margin-top: 80px;
    display: flex;
    width: 90%;
}

.caixa-explicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border: 2px solid black;
    background-color: #ebbda3;
    border-radius: 10px;
}

.caixa-explicacao:not(:last-child){
    margin-right: 30px;
}

.caixa-titulo-explicacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 15px 0px;
}

.caixa-texto-explicacao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.titulo-explicacao {
    font-size: 1.3rem;
}

.explicacao {
    font-size: 1.2rem;
    text-align: justify;
    width: 90%;
}

#link-duvidas-servicos {
    margin-top: 80px;
    font-size: 1.4rem;
    text-decoration: underline solid 2px black;
    text-underline-offset: 5px;
    cursor: pointer;
}

#link-duvidas-servicos:hover{
    transition: 300ms;
    color: white;
    text-decoration: underline solid 2px white;
}

/*  */

#produtos-div {
    text-align: center;
    margin-top: 70px;
    background-image: url("./fotos/fotoBaner.jpg");
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#produtos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.produto {
    padding: 15px 30px 15px 30px;
    border: 3px groove #b87f65;
}

.btn-produto {
    margin-top: 15px;
    padding: 5px 10px;
    border: #e7e4d8 1px solid;
    background-color: #b87f65;
    color: #e7e4d8;
    cursor: pointer;
}

.btn-produto:hover {
    transition: 300ms;
    background-color: #91614c;
}

#btn-comprarMais {
    width: 150px;
    height: 60px;
    margin-top: 60px;
    padding: 5px 10px;
    border: black 1px solid;
    background-color: #91614c;
    color: #e7e4d8;
    cursor: pointer;
    font-size: 1.2rem;
}

#btn-comprarMais:hover {
    transition: 300ms;
    background-color: #774f3d;
}

#footer {
    background-color: #91614c;
    padding: 20px 0px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#footer  h1 {
    color: #e7e4d8;
}
  
#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 90%;
}
  
#footer ul li {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

#footer ul li:not(:last-child) {
    margin-right: 200px;
}

#logo-footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center
}

.icone-footer {
    width: 100px;
}
