* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./fotos/image0.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #e7e4d8;
}

#container {
    height: 100vh;
}

/*  */

#primeiraNav-div {
    background-color: #3da2b6;
    width: 100%;
    height: 80px;
}

#lista-primeiraNav{
    display: flex;
    justify-content:space-around;
    list-style: none;
    height: 80px;
    align-items: center;
}

#lista-primeiraNav li input {
    height: 35px;
    width: 320px;
    text-align: center;
    border: 2px solid #b87f65;
}

#lista-primeiraNav li input::placeholder {
    text-align: center;
}

.icone {
    cursor: pointer;
}

#avatar {
    width: 100px;
    margin-top: 5px;
}

#cesta {
    width: 100px;
    margin-top: 5px;
}

/*  */

#container-nav2 {
    background-color: #e7e4d8;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 10px black;
}

#lista-nav2 {
    margin-top: 3.5px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 80px;
}

#lista-nav2 li {
    display: flex;
    height: 80px;
    font-size: 1.35rem;
}

#lista-nav2 li a {
    display: flex;
    align-items:center;
    text-decoration: none;
    padding: 15px 60px 15px 60px;
}

#lista-nav2 li a:hover {
    transition: 800ms;
    color: black;
    background-color: rgb(238, 238, 238);
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 1.45rem;
}

/*  */

#baner {
    width: 100%;
    height: 105vh;
}

#fotoBaner {
    width: 100%;
    height: 100%;
}

#sobreNos-div {
    background-color: #e7e4d8;
    display: flex;
    margin: 100px 40px 100px 40px;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

#textoSobreNos {

}

#textoSobreNos p {
    width: 40%;
}

#tituloSobreNos {

}

#fotoSobreNos {
    width: 300px;
}

#servicos-div {
    text-align: center;
}

#servicos-div h1 {
    text-decoration: underline solid #3da2b6;
    text-underline-offset: 5px;
}

#servicos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    margin-right: 100px;
}

.servico {
    text-align: center;
    border: 5px groove #b87f65;
    padding: 30px 30px 20px 30px;
    box-shadow: 0px 0px 10px black;
}

.servico:hover{
    color: #3da2b6;
    transition: 700ms;
}

.servico:not(:last-child) {
    margin-right: 200px;
}

.servico img {
    width: 300px;
    border-radius: 10px;
}

.servico img:hover {
    cursor: pointer;
    width: 315px;
    transition:700ms;
    opacity: 0.6;
}

.servico p {
    margin-top: 20px;
    font-size: 1.6rem;
}

.servico p:hover {
    cursor: pointer;
    transition:700ms;
    color: #3da2b6;
}

#produtos-style {
}

#produtos-div {
    text-align: center;
    margin-top: 100px;
    background-image: url("./fotos/fotoBaner.jpg");
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#produtos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.produto {
    /* background-color: #e7e4d8; */
    padding: 15px 30px 15px 30px;
    border: 3px groove #b87f65;
}

.btn-produto {
    margin-top: 15px;
    padding: 5px 10px;
    border: #e7e4d8 1px solid;
    background-color: #b87f65;
    color: #e7e4d8;
    cursor: pointer;
}

.btn-produto:hover {
    transition: 300ms;
    background-color: #91614c;
}