* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./fotos/image0.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #e7e4d8;
}

#container {
    height: 100vh;
}

/*  */

#primeiraNav-div {
    background-color: #72a793;
    width: 100%;
    height: 80px;
    top: 0;
}

#lista-primeiraNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 80px;
}

.item-primeiraNav {
    display: flex;
    height: 80px;
    font-size: 1.35rem;
}

.item-primeiraNav a {
    display: flex;
    align-items:center;
    text-decoration: none;
    color: rgb(243, 243, 243);
    padding: 15px 60px 15px 60px;
}

.item-primeiraNav a:hover {
    transition: 800ms;
    color: black;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.45rem;
}

/*  */


#container-nav2 {
    background-color: #72a793;
    width: 100%;
    height: 80px;
    /* position: fixed; */
    top: 0;
}

#lista-nav2 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 80px;
}

#lista-nav2 li {
    display: flex;
    height: 80px;
    font-size: 1.35rem;
}

#lista-nav2 li a {
    display: flex;
    align-items:center;
    text-decoration: none;
    color: rgb(243, 243, 243);
    padding: 15px 60px 15px 60px;
}

#lista-nav2 li a:hover {
    transition: 800ms;
    color: black;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.45rem;
}

/*  */

#baner {
    width: 100%;
    height: 105vh;
}

#fotoBaner {
    width: 100%;
    height: 100%;
}

#sobreNos-div {
    background-color: #e7e4d8;
    display: flex;
    margin: 100px 40px 100px 40px;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

#textoSobreNos {

}

#textoSobreNos p {
    width: 40%;
}

#tituloSobreNos {

}

#fotoSobreNos {
    width: 300px;
}

#servicos-div {
    text-align: center;
}

#servicos-div h1 {

}

#servicos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.servico {

}

#produtos-div {
    text-align: center;
    margin-top: 50px;
}

#produtos-div h1 {

}

#produtos-div ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.produtos {

}

#contatos-div {
    margin-top: 80px
}

#contatos-div-style {

}

.contato {

}

#mapa-foto {

}